
*, *::before, *::after{
    padding: 0%;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

/* inicio Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');


@font-face{
    font-family: 'Roboto-Regular';
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto-Bold.ttf);

}

@font-face{
    font-family: 'Opens-Sans-Condensed';
    src: url(fonts/OpenSans-CondBold.ttf);

}

.clearfix{
    clear: both;
    float: none;
}

/* fin Fuentes*/

#container{
    height: auto;
    margin: 0px auto;
    min-height: 700px;
}

/* inicio Pre-Loader*/
.contenedor_loader{
    background: #f3f3f3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader,
.loader::before,
.loader::after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}

.loader{
    color: #4685fa;
    font-size: 13px;
    position: relative;
    animation-delay: -0.16s;
}

.loader::before,
.loader::after{
    content: '';
    position: absolute;
    top: 0;
}

.loader::before{
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader::after{
    left: 3.5em;
}

@keyframes loader{
    0%,
    80%,
    100%{
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%{
        box-shadow: 0 2.5em 0 0;
    }
}
/* Fin Pre-Loader*/


/* inicio header-cabecera*/
#header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background-color: white;
	height: 148px;
	border-bottom: 1px solid rgba(255, 255, 226, 0.8);
	margin-bottom: 30px;
}

.logo{
    flex-basis: 65%;
    padding: 10px;
    color: rgb(9, 163, 55);
    margin-left: 30px;
    text-shadow: 1px 1px 0px #ccc;
}

.logo img {
	display: block;
	position: relative;
	width: 39px;
	margin-top: -85px;
	left: 368px;
	overflow: hidden;
	box-shadow: 0px 0px 5px #ccc;
	border: 1px solid #ccc;
	border-radius: 12px;
	top: -36px;
}

.logo h1 {
    position: relative;
	font-family: 'Roboto-Bold';
	font-style: italic;
	font-size: 55px;
	transition: all 300ms;
	text-shadow: 1px 1px 1px #000, 1px 2px 3px #000;
    top: -21px;
}
 /* fin header-cabecera*/

 /* inicio del buscador*/
.buscar-box{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

  .buscar-box input#search {
	width: 300px;
	height: 50px;
	background: #fff;
	border: 1px solid #333;
	font-size: 10pt;
	float: left;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.buscar-box  input#search::-webkit-input-placeholder {
    color: #fff; 
 }
  
 .buscar-box  input#search:-moz-placeholder { /* Firefox 18- */
    color: #333;  
 }
  
 .buscar-box  input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #333;  
 }
  
 .buscar-box  input#search:-ms-input-placeholder {  
    color: #333;  
 }


.fa-search {
    position: absolute;
    top: 50%;
    margin-left: -24px;
    margin-top: 17px;
    z-index: 1;
    color: rgb(37, 37, 37);
    cursor: pointer;
}



.buscar-box input#search:hover, .buscar-box input#search:focus, .buscar-box input#search:active{
    outline:none;
    background: #5da96d;;
    border: none;
  }

/* fin del buscador*/

/*Inicio MENU*/
.menu-area a{
	display: flex;
	align-items: center;
    justify-content: center;
    color: #f6f7f8;
    background: #278b45;
    font-family: 'Roboto-Regular';
    font-size: 15px;
	font-weight: 800;
    height: 64px;
    text-decoration: none;
	transition: all 300ms;
    transition: background 0.4s;
}

.menu-area a:hover{
    background: #23c754;
    border-bottom: 1px solid rgb(224, 219, 219);

}

.menu-area ul{
    list-style: none;
    display: flex;
}

.menu-area li{
	position: relative;
    width: 100%;
    text-align: center;
}

.menu-area li:hover .dropdowm-1 > li{
	display: block;
	top: 0; 
	
}

.menu-area li:hover a .dropdowm-1 > li{
	display: block;
	top: 10; 
}

.dropdowm-1 li{
    display: none;
    position: relative;
}

.dropdowm-1{
	width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
	transition: all 300ms;    
}

.dropdowm-1 li:hover .dropdowm-2 li{
	display: block;
}

.dropdowm-2 li{
	display: none;
}

.dropdowm-2 {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 100%;
	width: 205px;
	transition: all 300ms;
}

/*Fin MENU*/


/*Inicio iconos del menu*/

.fa-home {
	display: block;
	font-size: 19px;
	position: absolute;
	color: white;
	top: 22px;
	left: 62px;
	
}

.fa-user {
	display: block;
	font-size: 16px;
	position: absolute;
	color: white;
	top: 23px;
	left: 62px;
	
}

.fa-briefcase {
	display: block;
	font-size: 19px;
	position: absolute;
	color: white;
	top: 21px;
	left: 20px;	
}

.fa-blog {
	display: block;
	font-size: 18px;
	position: absolute;
	color: white;
	top: 22px;
	left: 41px;
	
}

.fa-handshake {
	display: block;
	font-size: 18px;
	position: absolute;
	color: white;
	top: 23px;
	left: 2px;
}

.fa-newspaper {
	display: block;
	font-size: 18px;
	position: absolute;
	color: white;
	top: 22px;
	left: 53px;
}

.fa-address-card {
	display: block;
	font-size: 18px;
	position: absolute;
	color: white;
	top: 23px;
	left: 44px;	
}

/*Fin iconos del menu*/

/*Inicio iconos del Sub-menu*/
.fa-coins {
	display: block;
	font-size: 17px;
	position: absolute;
	color: white;
	top: 23px;
	left: 19px;
}

.fa-credit-card {
	display: block;
	font-size: 17px;
	position: absolute;
	color: white;
	top: 22px;
	left: 57px;
}


.fa-blogger {
	display: block;
	font-size: 17px;
	position: absolute;
	color: white;
	top: 22px;
	left: 71px;
	
}

.fa-wpforms {
	display: block;
	font-size: 18px;
	position: absolute;
	color: white;
	top: 23px;
	left: 51px;
	font-weight: bold;
}

.fa-calculator {
	display: block;
	font-size: 13px;
	position: absolute;
	color: white;
	top: 25px;
	left: 3px;
}
/*Fin iconos del Sub-menu*/



/*SLIDER*/
#slideshow-principal{
    position: relative;
    overflow: hidden;
    z-index: -1;
    
}

#progress-bar-container{
    position: absolute;
    height: 10px;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    top: 0;
    z-index: 1000;
}

#progress-bar{
    height: 100%;
    background-color: rgba(228, 69, 69, 0.7);
    border-radius: 0 3px 3px 0;
    transition: width 0.8s;
}

#slideshow{
    position: relative;
    z-index: 998;
    height: 600px;
}

img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#img2{
    /*lef: 100%;*/
    opacity: 0;
}

.active{
     /*lef: 0 !important;*/
    opacity: 1 !important;
    transition: all 1s;
}

#indicadores{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
    z-index: 999;
}

.circles{
    border: white 2px solid;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 5px 0 5px;
    background-color: transparent;
    border-radius: 50%;
}

.resaltado{
    background-color: rgba(228, 69, 69, 1);
    transition: background-color .8s;
}


 /*INICIO de la seccion Destacado*/
 #destacado {
	display: flex;
	width: 100%;
	padding: 140px;
	flex-direction: column;
	min-width: 1519.2px;
	height: 330px;
	margin-top: 100px;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #201f1f;
    transition: all 300ms;

	/*Degradado*/
	background: rgba(73,155,234,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(48,87,121,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(48,87,121,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(48,87,121,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(48,87,121,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(48,87,121,1) 100%);
	background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(48,87,121,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#305779', GradientType=1 );

}

#destacado:hover {
	border-radius: 30px;
}

.seccion-destacado h2 {
	font-family: 'Opens-Sans-Condensed';
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #130f0f;
}

.CoopDinamica p {
	font-family: 'Opens-Sans-Condensed';
	font-size: 31px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-top: 17px;
}

.buttom-destacado {
	display: block;
	width: 450px;
	padding: 25px;
	margin-top: 30px;
	font-family: 'Opens-Sans-Condensed';
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background: rgb(204, 163, 1);
	transition: all 300ms;
    text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #201f1f;
}

.buttom-destacado:hover {
	background: rgba(196, 167, 49, 0.61);
}
 /*FIN de la seccion Destacado*/


/*INICIO de la seccion Trayectoria*/
#trayectoria {
    display: flex;
    width: 94%;
    height: 550px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-between;
    margin-left: 44px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #ccc;
    padding-top: 140px;
    margin-bottom: 150px;
    padding-right: 88px;
    border-radius: 20px;
}


.icon-circle .fa-circle, .fa-flag {
	display: block;
	font-size: 83px;
	position: relative;
	top: -97px;
	left: 157px;
	color: #1ca9c0;
	text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #201f1f;
}


.fa-flag {
	color: #fff;
	position: relative;
	font-size: 36px;
	top: -158px;
	left: 180px;
}

 .fa-users {
	color: #fff;
	position: relative;
	font-size: 36px;
	top: -157px;
	left: 174px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #201f1f;
}

 .fa-clock {
	color: #fff;
	position: relative;
	font-size: 44px;
	top: -162px;
	left: 177px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #201f1f;
}

.icon-piggy-bank-2 .fa-piggy-bank {
	color: #fff;
	position: relative;
	font-size: 41px;
	top: -161px;
	left: 175px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #201f1f;
}


.trayectoria-card-1, .trayectoria-card-2, .trayectoria-card-3, .trayectoria-card-4{
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: center;
}

.trayectoria-h3 {
	display: block;
	font-family: 'Roboto-Regular';
	color: #bebf1b;
	font-size: 17px !important;
	text-align: center;
	width: 90%;
}

.trayectoria-h3 h3 {
    font-size: 1.2em !important;
	text-shadow: 1px 1px 1px #000, 1px 2px 3px #000;
    transition: all 300ms;
}

.trayectoria-h3 h3:hover{
    transform: scale(1.2);
    text-shadow: 1px 1px 1px #171111, 1px 2px 3px #1a1111;;
}

.trayectoria-card-p{
    margin-top: 10px;
    color: #333;
    line-height: 25px;
}

/*FIN de la seccion Trayectoria*/

/*Inicio de Servicios*/
#services-container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(-45deg, #fcfbfa87 50%, #117031 50%);
    margin-bottom: 150px;
}

.titulo {
    font-size: 40px;
    font-family: 'Opens-Sans-Condensed';
    font-weight: 700;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 1px 1px 1px #141414, 2px 2px 2px #201f1f;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #d4cece, 1.2px 0px 0px #010101;
}

.subtitulo-p { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Roboto-Regular';
    margin-top: 0;
    text-shadow: 1px 1px 1px #060606, 2px 2px 2px #010101;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}

/*Fin de Servicios*/

/*Estilos Materialize Carousel*/
.carousel {
    min-height: 500px;
}

.carousel .carousel-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}


.carousel .indicators .indicator-item{
    border-radius: 0px;
    transform: rotate(45deg);
    margin: 0 15px;
    background: #36221c;
}


/*Estilos Materialize Carousel*/


/*inicio de estilos seccion Calculadora*/
#destacado-calculadora {
	display: flex;
	width: 100%;
	padding: 140px;
	flex-direction: column;
	min-width: 1519.2px;
	height: 330px;
	margin-top: 100px;
	align-items: center;
	justify-content: center;
	text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #201f1f;
    transition: all 300ms;



	/*Degradado*/
	background: rgba(73,155,234,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 19%, rgba(31,54,92,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(19%, rgba(73,155,234,1)), color-stop(100%, rgba(31,54,92,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 19%, rgba(31,54,92,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 19%, rgba(31,54,92,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(73,155,234,1) 19%, rgba(31,54,92,1) 100%);
}

#destacado-calculadora:hover {
	border-radius: 30px;
}

.seccion-destacado-calculadora h2 {
	font-family: 'Opens-Sans-Condensed';
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #130f0f;
}

.coop-dinamica-calculadora p {
	font-family: 'Opens-Sans-Condensed';
	font-size: 31px;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	margin-top: 17px;
}

.buttom-destacado-calculadora {
	display: block;
	width: 450px;
	padding: 25px;
	margin-top: 30px;
	font-family: 'Opens-Sans-Condensed';
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
	background: rgb(205, 164, 6);
	transition: all 300ms;
    text-shadow: 1px 1px 1px #201f1f, 2px 2px 2px #201f1f;
}

.buttom-destacado-calculadora:hover {
	background: rgb(150, 121, 5);
}
/*Fin de estilos seccion Calculadora*/

/*Inicio de seccion de Noticias con tarjetas*/
#noticias{
    width: 100%;
    margin-top: 150px;
}
.container-card{
	width: 100%;
    font-family: 'Opens-Sans-Condensed';
	display: flex;
	max-width: 1350px;
	margin: auto;
}
.title-cards{
	width: 100%;
    font-family: 'Opens-Sans-Condensed';
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
}

.title-cards h5{
    font-family: 'Opens-Sans-Condensed';
    font-weight: 700;
    font-size: 40px;
	text-align: center;
	color: #1f365c;
}

.linea-divisora-title{
    width: 90%;
    display: block;
    color: #ccc; 
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}

figure{
    margin: 14em 40px !important;
}

.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3 {
	font-family: 'Opens-Sans-Condensed';
	text-transform: uppercase;
	font-size: 26px;
	margin-bottom: 15px;
	color: #c4b115;
	text-shadow: 1px 1px 0px #000, 1px 2px 3px #000;
}

.card .contenido-card p {
	font-family: 'Roboto-Regular';
	line-height: 1.9;
	color: #403e3e;
	font-size: 15px;
	margin-bottom: 5px;
	text-align: center;
}

.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #09a337;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin de seccion de Noticias con tarjetas*/

/*Inicio de acordeon*/
#box-acordeon{
	display: block;
	width: 85%;
	margin: 0px auto;
	margin-top:100px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 10px #ccc;
}

#box-acordeon h5{
	display: block;
	width: 40%;
	margin: 0px auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 35px;
	text-align: center;
	border-bottom: 2px solid #ccc;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	font-size: 129%;
}


.ui-accordion .ui-accordion-content {
	display: block;
	height: 250px !important;
	font-family: 'Open Sans', sans-serif !important;
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
	background: #f1f1f100;
	box-shadow: 0px 0px 4px #f2f2f2;
	font-size: 16px;
	line-height: 47px;
}

.ui-widget-content{
	font-family: 'Open Sans', sans-serif !important;
	color: rgb(19, 19, 19);
	
}

.ui-accordion-header-collapsed{
	background: rgb(226, 226, 226);
}

.ui-accordion-icons{
	background-color: #f1f1f1;
}

.ui-accordion-content-active{
	background: red;
	color: #000;

}


#acordeon{
	margin-top: 20px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background: #09a349;
	text-shadow: 1px 1px 1px #222, 1px 2px 2px #333;
	font-weight: 600;
}
/*Fin de acordeon*/

/*Inicio del footer*/
:root{
    --color-esqueleto:#EFF3F5;
}


.cover{
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: 20px;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}


 

/*Aquí debajo va el FOOTER*/

footer{
    width: 100%;
    margin-top: 150px;
    padding: 50px 0px;
    background-size: cover;
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/

	/*Degradado*/
	background: rgba(39,139,69,1);
	background: -moz-linear-gradient(-45deg, rgba(39,139,69,1) 0%, rgba(39,139,69,1) 19%, rgba(31,54,92,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(39,139,69,1)), color-stop(19%, rgba(39,139,69,1)), color-stop(100%, rgba(31,54,92,1)));
	background: -webkit-linear-gradient(-45deg, rgba(39,139,69,1) 0%, rgba(39,139,69,1) 19%, rgba(31,54,92,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(39,139,69,1) 0%, rgba(39,139,69,1) 19%, rgba(31,54,92,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(39,139,69,1) 0%, rgba(39,139,69,1) 19%, rgba(31,54,92,1) 100%);
	background: linear-gradient(135deg, rgba(39,139,69,1) 0%, rgba(39,139,69,1) 19%, rgba(31,54,92,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#278b45', endColorstr='#1f365c', GradientType=1 );

}

.logo h5 {
    position: relative;
	font-family: 'Roboto-Bold';
	font-style: italic;
	font-size: 45px;
	transition: all 300ms;
	text-shadow: 1px 1px 1px #000, 1px 2px 3px #000;
    top: -21px;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-transform: uppercase;
}

.box__footer .logo img {
	width: 138px;
	height: 37px;
	position: inherit;
	margin-top: 30px;
}
.box__footer .terms{
    font-family: 'Roboto-Regular';
    text-transform: initial;
    max-width: 400px;
    margin-top: 15px;
    font-weight: 500;
    line-height: 1.7;
    color: #fff;
    font-size: 20px;
}

.box__footer h5{
    font-size: 26px !important;
    font-family: 'Roboto-Bold';
    margin-bottom: 30px;
    color: #fff;
    font-weight: 700;
}

.box__footer a {
	font-family: 'Roboto-Regular';
	margin-top: 10px;
	color: #fff;
	font-weight: 600;
    transition: all 300ms;
	text-decoration: none;
}

.box__footer a:hover{
    opacity: 0.5;
    transform: scale(1.2);
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #fff;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #fff;
}

.fa-facebook-square{
    color: #3a5da1;
}

.fa-twitter-square{
    color: #00abf0;
}

.fa-linkedin{
    color: #0E76A8;
}

.fa-instagram-square{
    color: #DE3180;
}


.linea-divisora-footer {
    width: 90%;
    height: 2px;
    background-color: #fff;
    position: relative;
    margin: 0px auto;
    top: -20px;
}

.menu-linea{
    left: -27px;
}

.compania-linea {
	left: 0px;
	width: 100%;
}


.linea-redes{
    width: 100%;
}
/*Fin del footer*/